body {
  background-color: turquoise;
  color: blue;
  text-align: center;
  align-content: center;
  border: 2px solid green
}

h1 {
  padding-bottom: 30px;
  color: blueviolet;
  font-size: 48px;
  font-family: fantasy;
}
ol {
  text-align: left;
  align-content: center;
  margin: auto;
  width: auto;
  padding-top: 15px;
  color:rgb(103, 6, 128);
  padding-bottom: 15px;
}
ul {
  text-align: left;
  align-content: center;
  margin: auto;
  padding-top: 15px;
  color: darkred;
  padding-bottom: 15px;
}
.cannoli {
  display: flex;
  margin: auto;
  color: red;
}