body {
  background-color: turquoise;
  color: blue;
  text-align: center;
  align-content: center;
  border: 2px solid green
}

h1 {
  padding-bottom: 30px;
  color: blueviolet;
  font-size: 48px;
  font-family: fantasy;
}